header{
    background-color:var(--color-primary);
    color: var(--color-white);
    padding: 0px;
    margin: 0px;
    padding: 20px;
    text-align: center;
}

header h1{
    font-style: italic;
}

main{
    background-color: tomato;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    font-family: "Montserrat", sans-serif;
}

.mainForm{
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
}


@media (width <= 800px) {
    .mainForm{
        display: flex;
        flex-direction: column;
    }

    
}

.mainForm .blogForm{
    background-color: white;
    border: 3px var(--color-primary) solid;
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
    flex-basis: 50%;
    
}

.mainForm .blogList{
    background-color: white;
    padding: 10px;
    flex-basis: 50%;
}

.mainContent{
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
}