<section class="entries">
    
        @for(blog of blogs; track blog.date){
            <article class="blogEntries">
                <figure class="blogImage">
                    <img [src]="blog.img" [alt]="blog.title">
                </figure>
                <div class="blogInfo">
                    <h3>{{blog.title}}</h3>
                    <p class="date">Fecha: {{blog.date}}</p>
                    <p>{{blog.content}}</p>
                </div>
            </article>
        }
         
</section>
